<h1>Edit <%= @discount.id %></h1>

<hr>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with model: [:merchant,@discount], method: :patch, local: true do |f| %>
  <%= f.label :percentage %>
  <%= f.number_field :percentage %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.submit %>
<% end %>
<hr>