<h1>Bulk Discounts</h1>

<h3>Upcoming Holidays</h3>
<ul>
  <% @holidays.each do |h| %>
    <li><%= h['localName'] %> | <%= h['date'] %></li>
  <% end %>
</ul>

<%= render 'form', discount: @discount %>>


<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Discount</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @discounts.each do |d| %>
      <tr id="discount-<%= d.id %>">
        <td><%= link_to d.id, merchant_bulk_discount_path(d.merchant_id, d.id) %></td>
        <td><%= d.percentage %>%</td>
        <td><%= d.quantity %></td>
        <td><%= link_to 'Delete', "/merchant/#{d.merchant_id}/bulk_discounts/#{d.id}", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>